@import '~antd/dist/antd.css';

body {
  font-family: 'Montserrat';
}

.buttons {
  background-color: #537770;
  border: solid #537770 .25px;
  color: white;
}

.buttons:hover, .buttons:focus, .buttons:active {
  background-color: white;
  border: solid #537770 .25px;
  color: #537770;
}

@media only screen and (min-width : 320px) and (max-width : 1224px) {
  .buttons {
    margin: .25rem .35rem;
    width: 6.5rem;
    font-size: 10px;
  }
}


@media only screen  and (min-width : 1224px) {
  .buttons {
    margin: .25rem .45rem;
    width: 8rem;
  }
}
