
.footer {
  background-color: black;
  opacity: .5;
  border-top: 1px solid black;
  color: antiquewhite;
  padding: .2rem 2rem;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 1224px) {

}

@media only screen  and (min-width : 1224px) {

}
