
.location-card {
  text-align: center;
  width: 18rem;
  height: 24rem;
  padding: 4%;
  display: inline-block;
  margin: 2% 1% 2% 1%;
  font-family: 'Montserrat';
  cursor: pointer;
  transition: all .2s linear;
  background-size: 0%;
}

.location-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .3), 0 4px 10px 0 rgba(0, 0, 0, .15);
  background-position: center;
  background-size: 80%;
  background: #DCF3FF radial-gradient(circle, transparent 1%, #DCF3FF 1%) center/15000%;
  border-radius: 1rem;
}

.location-card:active {
  background-color: #BEE9FF;
  background-size: 100%;
}

.iframe-cards {
  border: none;
  border-radius: 8rem;
  width: 22vh;
  height: 22vh;
}

.card-city-name {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Open Sans';
}

.card-city-name:hover {
  position: relative;
  color: #858B9F;
  text-decoration: underline;
  font-size: 24px;
}

.close-icon {
  position: absolute;
  margin: -1rem 0rem 0rem 14rem;
  cursor: pointer;
}

.close-icon:hover {
  color: #858B9F;
}

.time-card {
  margin-top: 1rem;
  line-height: 0px;
  font-weight: 200;
  font-size: 24px;
}

.date-card {
  font-weight: 800;
  font-size: 16px;
}

.city-title {
  line-height: 8px;
}

@media only screen and (min-width : 320px) and (max-width : 1000px) {
  .location-card {
    text-align: center;
    width: 18rem;
    height: 24rem;
    padding: 4% 2%;
    display: inline-block;
    font-family: 'Montserrat';
  }

  .close-icon {
    position: absolute;
    margin: -1rem 0rem 0rem 14rem;
    cursor: pointer;
  }

  .iframe-cards {
    width: 18vh;
    height: 18vh;
  }
}

@keyframes ripple {
  0% {

    /* transform: scale(1) */
  }
  100% {

    /* transition: background 0s; */
    /* background: red; */
    /* transform: scale(1.2) */
  }
}
