.location-card {
  text-align: center;
  width: 18rem;
  height: 24rem;
  border: solid black 1px;
  padding: 3%;
  display: inline-block;
  margin: 2% 4% 2% 2%
}

.iframe-cards {
  border: solid black 1px;
  border-radius: 8rem;
  width: 90%;
  height: 60%;
}

.card-city-name:hover {
  position: relative;
  color: blue;
  text-decoration: underline;
  top: 2px;
}

.close-icon {
  position: absolute;
  margin: -1rem;
}

.close-icon:hover {
  color: blue;
}
