.close-icon-detail {
  position: absolute;
  top: 2%;
  transform: scale(1.2);
}

.close-icon-detail:hover {
 color: #858B9F;
}

#location-detail {
  position: absolute;
  float: right;
  top: 0;
  left: 35%;
  width: 65%;
  display: inline-block;
  height: stretch;
  z-index: 10;
  background-color: #E8DED5;
  opacity: .8;
  padding: 5% 2%;
  overflow: auto;
}

.detail-text {
  margin: -3rem 2rem 2rem 2rem;
}
