#location-page {
  position: relative;
  display: inline-block;
  width: 66%;
  vertical-align: top;
}

.location-cards {
  margin: 2%;
}

#selected-card {
  margin: 18% 0 0 10%;
  transform: scale(1.2);
}
