/*
@font-face {
  font-family: Montserrat;
  src: url('https://fonts.google.com/specimen/Montserrat')
}

@font-face {
  font-family: Oswald;
  src: url('https://fonts.google.com/specimen/Osawld')
} */

.location-card {
  text-align: center;
  width: 18rem;
  height: 28rem;
  /* border: solid black 1px; */
  padding: 3%;
  display: inline-block;
  margin: 2% 4% 2% 2%;
  font-family: 'Montserrat';
}

.iframe-cards {
  border: none;
  border-radius: 8rem;
  width: 100%;
  height: 60%;
}

.card-city-name {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Open Sans';
}

.card-city-name:hover {
  position: relative;
  color: #858B9F;
  text-decoration: underline;
  font-size: 24px;
}

.close-icon {
  position: absolute;
  margin: -1rem 0rem 0rem 14rem;
}

.close-icon:hover {
  color: #858B9F;
}

.time-card {
  margin-top: 1rem;
  line-height: 0px;
  font-weight: 200;
  font-size: 24px;
}

.date-card {
  font-weight: 800;
  font-size: 16px;
}

.city-title {
  margin: -1rem 0rem 0rem 0rem;
  line-height: 8px;
}
