#location-page {
  position: relative;
  display: inline-block;
  width: 66%;
  vertical-align: top;
  height: -webkit-fill-available;
  overflow-y: scroll;
}

.location-cards {
  margin: 2% 1%;
}

#selected-card {
  margin: 18% 0 0 2%;
  transform: scale(1);
}

#selected-card .close-icon {
  display: none;
}

.location-page-transitions-enter {
  opacity: 0.01;
}

.location-page-transitions-enter.location-page-transitions-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.location-page-transitions-leave {
  opacity: 1;
}

.location-page-transitions-leave.location-page-transitions-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.sunny-spinny {
  position: absolute;
  top: 30%;
  left: 30%;
  animation: App-logo-spin infinite 20s linear;
  height: 120%;
  width: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
