.small-detail-card {
  height: 6rem;
  width: 6rem;
  background-color: black;
  opacity: .8;
  border-radius: 10px;
  margin: 1%;
  color: white;
}

.small-detail-card:hover{
  background-color: #91B587;
}

.small-detail-card p {
  color: white;
  font-size: 12px;
  line-height: 8px;
}

.weather-icon {
  width: 3rem;
  height: 3rem;
  filter: invert(100%);
  margin: .3rem;
}
